body {
    margin: 20px;
    text-align: center;
    background-color: rgb(221, 203, 203);
    color: rgb(62, 47, 26);
}
h1 {
    color: rgb(86, 7, 7);
}
img {
    width:75%;
    height: auto;
}
ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
}
li {
    margin: 10px;
    padding-left: 20px;
}